    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}
body {
    line-height: 1;
    width: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-size: 1.6rem;
    font: 400 16px/1.5 "Titillium Web", Helvetica, Arial, sans-serif;
    color: #2d3d4f;
    background-color: #fff;
}
a {
    text-decoration: none;
}
.pricing-container {
    width: 90%;
    max-width: 1170px;
    margin: 4em auto;
}
.pricing-container.full-width {
    width: 100%;
    max-width: none;
}
.pricing-list {
    margin: 2em 0 0;
    display: flex;
    justify-content: center;
}
.pricing-list> li {
    position: relative;
    margin-bottom: 1em;
    width: 500px;
}
.pricing-list> li.small {
    position: relative;
    margin-bottom: 1em;
    width: 180px;
    margin: 5px;
}
@media only screen and (max-width: 768px) {
    .pricing-list {
        display: block;
    }
}
@media only screen and (max-width: 768px) {}
@media only screen and (min-width: 768px) {
    .more-options {
        padding-top: 30px;
    }
    .pricing-list {
        margin: 3em 0 0;
    }
    .pricing-list:after {
        content: "";
        display: table;
        clear: both;
    }
    .pricing-list> li {
        width: 470px;
        float: left;
        padding-left: 5px;
        padding-right: 5px;
    }
    .has-margins .pricing-list> li {
        width: 32.3333333333%;
        float: left;
        margin-right: 1.5%;
    }
    .has-margins .pricing-list> li:last-of-type {
        margin-right: 0;
    }
}
.pricing-wrapper {
    position: relative;
}
.touch .pricing-wrapper {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    perspective: 2000px;
}
.pricing-wrapper.is-switched .is-visible {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-animation: rotate 0.5s;
    -moz-animation: rotate 0.5s;
    animation: rotate 0.5s;
}
.pricing-wrapper.is-switched .is-hidden {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-animation: rotate-inverse 0.5s;
    -moz-animation: rotate-inverse 0.5s;
    animation: rotate-inverse 0.5s;
    opacity: 0;
}
.pricing-wrapper.is-switched .is-selected {
    opacity: 1;
}
.pricing-wrapper.is-switched.reverse-animation .is-visible {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-animation: rotate-back 0.5s;
    -moz-animation: rotate-back 0.5s;
    animation: rotate-back 0.5s;
}
.pricing-wrapper.is-switched.reverse-animation .is-hidden {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-animation: rotate-inverse-back 0.5s;
    -moz-animation: rotate-inverse-back 0.5s;
    animation: rotate-inverse-back 0.5s;
    opacity: 0;
}
.pricing-wrapper.is-switched.reverse-animation .is-selected {
    opacity: 1;
}
.pricing-wrapper> li {
    background-color: #ffffff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
}
.pricing-wrapper> li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    pointer-events: none;
}
.pricing-wrapper> li.is-ended::after {
    display: none;
}
.pricing-wrapper .is-visible {
    position: relative;
    z-index: 5;
}
.pricing-wrapper .is-hidden {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.pricing-wrapper .is-selected {
    z-index: 3 !important;
}
.index-pricing {
    text-align: center;
    padding: 20px 20px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    -moz-box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    border-radius: 5px;
}
@media only screen and (max-width: 500px) {
    .pricing-list> li {
        width: 400px;
    }
}
.exclusive .pricing-wrapper> li {
    border-radius: 5px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    -moz-box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}
@media only screen and (min-width: 400px) {
    .pricing-wrapper> li::before {
        content: '';
        position: absolute;
        z-index: 6;
        left: -1px;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 50%;
        width: 1px;
    }
    .exclusive .pricing-wrapper> li {
        border-radius: 5px;
        box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
        -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
        -moz-box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    }
    .has-margins .pricing-wrapper> li, .has-margins .exclusive .pricing-wrapper> li {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }
    :nth-of-type(1)> .pricing-wrapper> li::before {
        display: none;
    }
    .has-margins .pricing-wrapper> li {
        border-radius: 6px;
    }
    .has-margins .pricing-wrapper> li::before {
        display: none;
    }
}
@media only screen and (min-width: 1500px) {
    .full-width .pricing-wrapper> li {
        padding: 2.5em 0;
    }
}
.no-js .pricing-wrapper .is-hidden {
    position: relative;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    margin-top: 1em;
}
@media only screen and (min-width: 768px) {
    .index-pricing {
        width: 70%;
    }
    .exclusive .pricing-wrapper> li::before {
        display: none;
    }
    .exclusive+ li .pricing-wrapper> li::before {
        display: none;
    }
}
.pricing-header h2 {
    padding: 0 0 0.6em 0;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}
.pricing-header h3 {
    padding: 0 0 0.2em 0;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: #344861;
}
.pricing-list h3 {
    padding: 0 0 0.2em 0;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 0px;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: #344861;
}
hr {
    margin-bottom: 10px;
}
.pricing-header {
    height: auto;
    padding: 1.9em 0 1.6em;
    pointer-events: auto;
    text-align: center;
    color: #173d50;
    background-color: transparent;
}
.exclusive .pricing-header {
    color: #19a9e5;
    background-color: transparent;
}
.pricing-header h2 {
    font-size: 2.8rem;
    letter-spacing: 2px;
}
.pricing-title {
    margin-top: 2em;
}
.currency, .value {
    font-size: 3rem;
    font-weight: 300;
}
.duration {
    font-weight: 700;
    font-size: 1.3rem;
    color: #8dc8e4;
    text-transform: uppercase;
}
.exclusive .duration {
    color: #f3b6ab;
}
.duration::before {
    content: '/';
    margin-right: 2px;
}
.value {
    font-size: 7rem;
    font-weight: 300;
}
.currency, .duration {
    color: #1bbc9d;
}
.exclusive .currency, .exclusive .duration {
    color: #2d3e50;
}
.currency {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    font-size: 2rem;
    font-weight: 700;
}
.duration {
    font-size: 1.4rem;
}
.pricing-body {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.is-switched .pricing-body {
    overflow: hidden;
}
.pricing-body {
    overflow-x: visible;
}
.pricing-features {
    width: 600px;
}
.pricing-features:after {
    content: "";
    display: table;
    clear: both;
}
.pricing-features li {
    width: 100px;
    float: left;
    padding: 1.6em 1em;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pricing-features em {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}
.pricing-features {
    width: auto;
}
.pricing-features li {
    float: none;
    width: auto;
    padding: 1em;
}
.exclusive .pricing-features li {
    margin: 0 3px;
}
.pricing-features em {
    display: inline-block;
    margin-bottom: 0;
}
.has-margins .exclusive .pricing-features li {
    margin: 0;
}
.pricing-footer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
}
.pricing-footer {
    position: relative;
    height: auto;
    padding: 1.8em 0;
    text-align: center;
}
.pricing-footer::after {
    display: none;
}
.has-margins .pricing-footer {
    padding-bottom: 0;
}
.header-text .select {
    width: auto;
    margin-top: 2em;
    color: #fff;
    text-align: center;
}
.select {
    position: relative;
    display: inline-block;
    padding: 1.3em 2em;
    background-color: #19a9e5;
    border-radius: 26px;
    font-size: 1.4rem;
    text-indent: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease-in;
    white-space: nowrap;
    width: 70%;
    height: 100%;
}
@media (max-width: 768px) {
    .select {
        letter-spacing: 0px;
    }
}
.select:hover {
    background-color: #4BB7E5;
    color: #ffffff;
}
.pricing-footer>a {
    color: #fff;
}
.no-touch .select:hover {
    background-color: #1bbc9d;
    color: #ffffff;
}
.exclusive .select {
    background-color: #19a9e5;
    color: #ffffff;
}
.no-touch .exclusive .select:hover {
    background-color: #4BB7E5;
}
.secondary-theme .exclusive .select {
    background-color: #1bbc9d;
}
.no-touch .secondary-theme .exclusive .select:hover {
    background-color: #112e3c;
}
.has-margins .select {
    display: block;
    padding: 1.7em 0;
    border-radius: 6px;
}
.site-header {
    border-top: 5px solid #344861;
    border-bottom: 1px solid #e8e8e8;
    min-height: 56px;
    position: relative;
    background: #fff;
    height: 65px;
}
.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
    background: #fff;
}
.payed {
    color: #19a9e5;
}
.payed-container {
    padding: 0 3px;
    width: 370px;
}
.payed-container li {
    margin-bottom: 10px;
}
.small .value {
    font-size: 4rem;
}
.small {
    padding-right: 0;
}
.small .pricing-wrapper .is-visible {
    height: 175px;
}
@media only screen and (max-width: 768px) {
    .payed-container {
        width: 100%;
    }
    .small {
        padding-right: 15px;
    }
    .payed-container {
        padding-top: 3em;
    }
}
@media only screen and (max-width: 500px) {
    .exclusive {
        width: 100%;
    }
    .payed-container {
        width: 100%;
    }
}
.space {
    height: 300px;
}
.header {
    background: url("../images/index/hero-section.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
    padding-top: 2em;
    width: 100%;
    height: 600px;
}

/* Images */

.image {
    background-repeat: no-repeat;
    height: 500px;
}
#section-one-image {
    background: url("../images/index/smart.jpeg");
    background-size: cover;
    background-position: center;
}
#section-two-image {
    background: url("../images/index/iphone-lockscreen.jpg");
    background-size: cover;
    background-position: center;
}
#section-three-image {
    background: url("../images/index/simple.jpeg");
    background-size: cover;
    background-position: center;
}
#section-fair-image {
    background: url("../images/index/fair.jpeg");
    background-size: cover;
    background-position: center;
}
.header-parent {
    width: 80%;
}
.wrapper {
    height: 100%;
}
.site-title {
    height: 100%;
}
.subscribe {
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#subscribe-p {
    font-size: 18px;
    margin-top: 20px;
}
#open-account {
    background-color: #19a9e5;
    color: #fff;
    border-radius: 24px;
    padding: 0.6em;
    transition: all 0.3s ease-in;
}
#open-account:hover {
    background-color: #4BB7E5;
    color: #ffffff;
}
.h1 {
    margin-bottom: 30px;
}
#emphasis {
    font-size: 30px;
    margin-top: 20px;
}
@media only screen and (max-width: 900px) {
    .header {
        width: 100%;
    }
    .header-parent {
        width: 90%;
    }
}
.header p {
    color: white;
    margin-top: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.1;
}
@media only screen and (max-width: 600px) {
    .header p {
        margin-top: 30px;
    }
}
.site-nav .page-link {
  color: #828282;
}
.site-nav .page-link:hover {
  color: #19a9e5;
}
.sections {
    height: 600px;
    display: flex;
    align-items: center;
    width: 100%;
}
.sections h1 {
  font-size: 45px;
}
.sections p {
  font-size: 18px;
}
.section-one {
    background-color: #f9f9f9;
    height: 100%;
    padding: 0;
}
.section-one .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
.section-one-text {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  padding: 0 3em;
}
.section-one-image {
  padding: 0;
}
.section-two .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
.section-two {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
.section-two-text {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  padding: 0 3em;
}
.section-two-image {
  padding: 0;
}
.section-three .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
.section-three {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
.section-three-text {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  padding: 0 3em;
}
.section-three-image {
  padding: 0;
}
.section-fair .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}
.section-fair {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  height: 100%;
}
.section-fair-text {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  padding: 0 3em;
}
.section-fair-image {
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .section-one-text {
    margin-top: 20px;
  }
  .section-two-text {
    margin-top: 20px;
  }
}
.section-two {
    margin: 0px;
    background-color: white;
    height: 100%;
}
.section-three {
    margin: 0px;
    background-color: #f9f9f9;
}
.section-four {
    text-align: center;
    background-color: white;
}
#top-client {
    margin-top: 70px;
    margin-bottom: 50px;
}
.header .headliner {
    font-size: 60px;
}
.section-three {
    height: 100%;
}
.section-four {
    height: 450px;
}
.section-three .departure {
    height: 65%;
    width: 60%;
}
.section-three .layers {
    width: 55%;
}
@media (max-width: 992px) {
    .section-three {
        height: auto;
        padding: 4em 0 2em 0;
    }
    .section-three .departure {
        height: 65%;
        width: 90%;
        margin: 2em 0;
    }
    .section-three .layers {
        width: 55%;
        margin: 2em 0;
    }
}
@media (max-width: 500px) {
    .section-one .diagram {
        width: 65%;
        margin-left: 50px;
        margin-bottom: 2em;
    }
    .site-nav {
        z-index: 1;
    }
    .site-nav .menu-icon {
        padding-top: 6px;
    }
    .the-logo {
        padding: 30px 30px 0 30px;
    }
    .subscribe-form {
        width: 95%;
        margin: 0 auto;
    }
    @media only screen and (max-width: 768px) {
        .subscribe-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .form-control {
            width: auto;
            border-radius: 5px;
        }
        .hero-subscribe-wrapper form .input-group .btn-subscribe {
            width: 400px;
            border-radius: 5px;
        }
        .input-group-addon, .input-group-btn {
            width: 100%;
        }
    }
    @media only screen and (max-width: 500px) {
        .hero-subscribe-wrapper form .input-group .btn-subscribe {
            width: 100%;
            border-radius: 5px;
        }
    }
    .align-logo {
        padding-top: 40px;
    }
    .content {
        font-family: 'Titillium Web', sans-serif;
    }
    .content article {
        font-size: 20px;
        line-height: 1.5;
    }
    .all-caps {
        text-transform: uppercase;
    }
